/.vscode/
/DATA/
/RESULTS/
/rateModel/rateModel_CODE/
/rateModel/architecture/matrices/
/rateModel/Makefile
/rateModel/generator
/rateModel/generator.d
/rateModel/rateModel
/rateEvaluation/rateEvaluation_CODE/
/rateEvaluation/architecture/matrices/
/rateEvaluation/Makefile
/rateEvaluation/generator
/rateEvaluation/generator.d
/rateEvaluation/rateEvaluation
main